<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData">
    <ng-container matColumnDef="coUser">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px', 'display':'none'}">Código Consultor</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngStyle]="{'display': 'none'}">{{element.coUser}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="noUser">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '20px', 'padding-left' : '20px'}">Consultor</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngStyle]="{'padding-left' : '20px'}">{{element.noUser}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="1">
        Cargando consultores...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No hay datos.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
</div>
